<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Shopping Cart</title>

<link rel="stylesheet" href="/styles/jquery-ui.min.css">
<link rel="stylesheet" href="/styles/site.min.css">
<link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css">

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<script src="/styles/bootstrap/js/bootstrap.min.js"></script>